<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
  http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd
  http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">

	<context:component-scan base-package="br.com.dccom" />
	<context:property-placeholder location="classpath:database.properties" />
	<mvc:annotation-driven />

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="${database.driver}" />
		<property name="url" value="${database.url}" />
		<property name="username" value="${database.user}" />
		<property name="password" value="${database.password}" />
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="annotatedClasses">  
            <list>  
                <value>br.com.dccom.modelo.Beneficiario</value>  
                <value>br.com.dccom.modelo.Operadora</value>  
                <value>br.com.dccom.modelo.Usuario</value> 
                <value>br.com.dccom.modelo.Telefone</value> 
                <value>br.com.dccom.modelo.User</value> 
                <value>br.com.dccom.modelo.UserRole</value>
                <value>br.com.dccom.modelo.Contratado</value>  
                <value>br.com.dccom.modelo.Profissional</value>  
                <value>br.com.dccom.modelo.TipoTelefone</value> 
                <value>br.com.dccom.modelo.CBOS</value> 
            </list>  
        </property> 
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">${jdbc.dialect}</prop>
				<prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
				<prop key="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto}</prop>
			</props>
		</property>
	</bean>

	<bean id="txManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="persistenceExceptionTranslationPostProcessor"
		class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />

	<bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basename" value="validation" />
	</bean>
	
	<bean id="userValidator" class="br.com.dccom.validator.UsuarioValidator" />

	
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/pages/" />
		<property name="suffix" value=".jsp" />
	</bean>
	
	<!-- beneficiario -->
	<bean id="beneficiarioDaoImpl" class="br.com.dccom.dao.BeneficiarioDaoImpl" />
	<bean id="beneficiarioServiceImpl" class="br.com.dccom.services.BeneficiarioServiceImpl" />
	
	<!-- contratado -->
	<bean id="contratadoDaoImpl" class="br.com.dccom.dao.ContratadoDaoImpl" />
	<bean id="contratadoServiceImpl" class="br.com.dccom.services.ContratadoServiceImpl" />
	
	<!-- profissional -->
	<bean id="profissionalDaoImpl" class="br.com.dccom.dao.ProfissionalDaoImpl" />
	<bean id="profissionalServiceImpl" class="br.com.dccom.services.ProfissionalServiceImpl" />
	
	<!-- cbos -->
	<bean id="CBOSDaoImpl" class="br.com.dccom.dao.CBOSDaoImpl" />
	<bean id="CBOSServiceImpl" class="br.com.dccom.services.CBOSServiceImpl" />
	
	<!-- operadora -->
	<bean id="operadoraDaoImpl" class="br.com.dccom.dao.OperadoraDaoImpl" />
	<bean id="operadoraServiceImpl" class="br.com.dccom.services.OperadoraServiceImpl" />
	
	<!-- login -->
	<bean id="loginDaoImpl" class="br.com.dccom.dao.LoginDaoImpl" />
	<bean id="loginServiceImpl" class="br.com.dccom.services.LoginServiceImpl" />
	
	<bean id="userDao" class="br.com.dccom.dao.UserDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="autenticarUsuarioService" class="br.com.dccom.services.AutenticarUsuarioService">
		<property name="loginDao" ref="loginDaoImpl" />
	</bean>
	
	<mvc:resources mapping="/resources/**" location="/resources/" />
	
	
	<!-- Tiles configuration -->

	<bean id="tilesConfigurer"
		class="org.springframework.web.servlet.view.tiles3.TilesConfigurer">
		<property name="definitions">
			<list>
				<value>/WEB-INF/tiles-definitions.xml</value>
			</list>
		</property>
	</bean>

	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.UrlBasedViewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.tiles3.TilesView" />
	</bean>

</beans>